body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;

  --header-color: #00acdc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 50px;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul .nav__item {
  margin-right: 20px;
}

.nav__link {
  display: flex;
  height: 60px;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav__link:hover {
  color: var(--header-color);
}

.is-active {
  position: relative;
  color: var(--header-color);
}

.nav__item:last-child {
  margin-right: 0;
}

.is-active::after {
  content: '';
  position: absolute;
  width: 37px;
  height: 4px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--header-color);
  border-radius: 8px;
}
