body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;

  --header-color: #00acdc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 50px;
}

.nav {
  display: flex;
  height: 60px;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

a {
  display: flex;
  height: 60px;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

a:hover {
  color: var(--header-color);
}

.apple {
  position: relative;
  color: var(--header-color);
}

li:last-child {
  margin-right: 0;
}

.apple::after {
  content: '';
  position: absolute;
  width: 37px;
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--header-color);
  border-radius: 8px;
}
